<p id="notice"><%= notice %></p>


<h1>Hospital Listing</h1>
<br>
<br>
<% @hospitals.each do |hospital| %>
   <li>
<%= hospital.name %><br>
<%= hospital.address1 %><br>
<%= hospital.address2 %><br>
<%= hospital.city %>,
<%= hospital.state %>
<%= hospital.zip %><br>
<%= number_to_phone(hospital.phone, area_code: true)%>
 </li>
<%= link_to "Show Details", hospital_path(hospital) %>
<%= link_to "Edit", edit_hospital_path(hospital) %>
<%= link_to "Delete", hospital, method: :delete, data: {confirm: "Are you certain you want to delete this location and all of its data?"} %><br><br>
<% end %><br>

<%= link_to "New Hospital", new_hospital_path %>