<p>
<strong>Hospital Name: </strong>
<%= @hospital.name %><br>
<strong>Address 1: </strong>
<%= @hospital.address1 %><br>
<strong>Address 2: </strong>
<%= @hospital.address2 %><br>
<strong>City: </strong>
<%= @hospital.city %>
<strong>   State:  </strong>
<%= @hospital.state %><br>
<strong>Zip: </strong>
<%= @hospital.zip %><br>
<strong>Phone: </strong>
<%= number_to_phone(@hospital.phone, area_code: true) %>
</p>

<p>
  <strong>Patient Listing</strong><br>
<ul>
  <% @patients.each do |patient| %>
  <li><%= patient.first_name %>
    <%= patient.last_name %><br>
    <%= patient.gender %><br>
    DOB:  <%= patient.date_of_birth %><br>
    Symptoms: <%= patient.description %><br>
    Blood Type: <%= patient.blood_type %> <br>
    <%= link_to "Patient Details", hospital_patient_path(@hospital, patient) %>
  </li>
  <br>
  <br>
  <% end%>
</ul>
<%= link_to "Add Patient", new_hospital_patient_path(@hospital) %>

</p>

<%= link_to "Edit Hospital", edit_hospital_path(@hospital) %><br>
<%= link_to "Hospital Listing", hospitals_path %><br>
<br>